# Python
*.pyc
*~
__pycache__

# Environments
.env
.venv
myvenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
local_settings.py

# Database
db.sqlite3
db.sqlite3-journal

# PostgreSQL
*.sql          
*.dump     

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
